= content_for :title do
  = t("video.video_author")

.text-right.mb-2
  = render "videos/switch_view_buttons"

.d-flex
  .flex-grow-1
    %form{ action: video_authors_path, method: 'get' }
      = render "shared/filters/filter_name"

  = render "shared/buttons/download_button", label: t('shared.download_json'), url: video_authors_path(filter_params.merge(format: :json))
