%li
  %i.fa-regular.fa-circle-dot
  = "#{option.name} (#{option.value})"

  / Chat group
  - chat_groups = option.chat_groups.uniq
  .chat-group-wrapper.mr-2{ class: ('d-none' unless chat_groups.present?) }
    .d-flex.align-items-center
      %small.mr-1= "#{t('notification.notify_to')}: "
      %span.notification-wrapper{'data-toggle': 'tooltip', 'data-html': 'true', 'data-title': "#{sanitize(chat_group_list_html(chat_groups))}"}
        %i.fa-brands.fa-telegram{style: 'color: #0088cc'}
