%tr
  %td= @pagy.from + institution_counter
  %td= institution.name
  %td
    .countries.w-50
      - institution.country_institutions.each do |country|
        %span.badge.badge-pill.badge-frame
          %span.mr-1{ title: country.country_code }
            = country.emoji_flag
          = country.display_name
  %td
    - institution.contacts.each do |contact|
      .contact.text-nowrap
        %span{ class: contact.fa }
        %span= contact.value
  %td
    - if institution.logo.file.present?
      .position-relative.d-inline-block.attachment
        = link_to institution.logo.url, data: { lightbox: institution.logo.identifier, title: institution.name } do
          = image_tag institution.logo.url, width: '64'
        = link_to delete_logo_institution_path(institution), method: :delete, class: 'position-absolute btn btn-danger rounded-circle btn-sm attachment__delete', data: { confirm: 'are you sure?' } do
          %i.fa.fa-trash-alt
  %td
    - if institution.audio.file.present?
      .position-relative.d-inline-block.attachment
        = audio_tag institution.audio.url, controls: true, style: "max-width: 140px"
        = link_to delete_audio_institution_path(institution), method: :delete, class: 'position-absolute btn btn-danger rounded-circle btn-sm attachment__delete', data: { confirm: 'are you sure?' } do
          %i.fa.fa-trash-alt
  %td= institution.address
  %td
    %div{ style: 'min-width: 80px'}
      = link_to edit_institution_path(institution), id: dom_id(institution, :edit), class: "btn btn-sm rounded-circle btn-warning mr-3" do
        %i.fas.fa-pen
      = link_to institution_path(institution), id: dom_id(institution, :delete), data: { method: :delete, confirm: 'are you sure?' }, class: "btn btn-sm rounded-circle btn-danger" do
        %i.fas.fa-trash-alt
