%tr
  %td= @pagy.from + institution_counter
  %td= institution.name
  %td= institution.name_km
  %td
    .countries.w-50
      - institution.country_institutions.each do |country|
        %span.badge.badge-pill.badge-frame
          %span.mr-1{ title: country.country_code }
            = country.emoji_flag
          = country.display_name
  %td
    - institution.contacts.each do |contact|
      .d-flex
        %div
          .mr-1{ style: 'width: 16px;' }
            %i{class: contact.fa}
        .text-break= contact.value
  %td
    - if institution.logo.file.present?
      .position-relative.d-inline-block.attachment
        = link_to institution.logo.url, data: { lightbox: institution.logo.identifier, title: institution.name } do
          = image_tag institution.logo.url, width: '64'
        = link_to delete_logo_institution_path(institution), method: :delete, class: 'position-absolute btn btn-danger rounded-circle btn-sm attachment__delete', data: { confirm: 'are you sure?' } do
          %i.fa.fa-trash-alt
  %td
    - if institution.audio.file.present?
      .position-relative.d-inline-block.attachment
        = audio_tag institution.audio.url, controls: true, style: "max-width: 140px"
        = link_to delete_audio_institution_path(institution), method: :delete, class: 'position-absolute btn btn-danger rounded-circle btn-sm attachment__delete', data: { confirm: 'are you sure?' } do
          %i.fa.fa-trash-alt
  %td= institution.address
  %td= timeago(institution.created_at).html_safe
  %td
    .d-flex.justify-content-end
      = render 'shared/buttons/edit_button', object: institution, url: edit_institution_path(institution)

      = render 'shared/buttons/delete_button', object: institution, message: { type: t('institution.institution'), name: institution.name, url: institution_path(institution) }
