= content_for :title do
  = t("institution.title")

= form_for "", url: institutions_path, method: 'get' do |f|
  .d-flex.flex-row-reverse.flex-wrap
    / More button
    .d-flex
      = render "shared/buttons/add_new_button", url: new_institution_path, name: t('institution.title')

      = render "shared/buttons/more_button" do
        %a.btn.dropdown-item{ href: institutions_path(filter_params.merge(format: :json)), target: '_blank' }
          %i.fas.fa-download.drop-menu-icon
          %span= t('shared.download_json')

    / Filter
    .d-flex.flex-grow-1
      = render 'shared/filters/filter_name'

      .ml-3
        = render "shared/buttons/advance_search_button", toggler_variable: "advance_search_contact"

      / Search button
      .ml-2
        = render "shared/buttons/search_button"

  / Advance filter
  #collapseOne.accordion-collapse.collapse.collapse-filter
    .d-flex.m-2
      / Filter by created at
      = render "shared/filters/filter_date", placeholder: t("shared.search_by_created_at")

      / Filter by countries
      .filter-input.tooltips.ml-2.mr-3{ 'data-toggle' => 'tooltip' }
        = select_tag 'countries[]', options_for_select(Country.exclude_country_all.map { |c| [c.name_km, c.code]}, params[:countries]), multiple: true, "data-count-selected-text" => "{0} #{t('institution.countries_selected')}", "data-selected-text-format" => "count > 1", "data-none-selected-text" => t("institution.any_country"), class: 'selectpicker form-control'
