.d-sm-flex.align-items-center.justify-content-between.mb-4
  %h1.h3.mb-0.text-gray-800= "#{@user.full_name}(#{t('users.id')}: #{@user.id}): #{t('quiz.games')}"

  = link_to users_path, class: 'btn btn-primary btn-sm shadow-sm' do
    %i.fas.fa-arrow-left.fa-sm.text-white-50
    = t('shared.back')

.card.shadow.mb-4
  .card-body
    = render partial: "shared/no_data", locals: { items: @quizzes }

    - if @quizzes.present?
      = render 'shared/pagy_label'

      %table.table.table-hover
        %thead
          %tr
            %th #
            %th= t('quiz.story')
            %th= t('quiz.game_date')
            %th= t('quiz.answer')
            %th

        %tbody
          - @quizzes.each_with_index do |quiz, index|
            %tr
              %td= @pagy.from + index
              %td= quiz.form.name
              %td= l(quiz.quizzed_at)
              %td
                = link_to user_quiz_path(@user, quiz), class: 'btn btn-link', remote: true do
                  = quiz.answers.length
                  - if arr = quiz.answers.select{|a| a.voice_url.present?}.presence
                    = "(voice: #{arr.length})"

              %td.text-right

      - if @pagy.pages > 1
        .pagy-wrapper
          != pagy_bootstrap_nav(@pagy)

= render 'modal'
