.logo-wrapper.d-flex.flex-column.justify-content-center.p-5.mr-5
  = link_to t("devise.login"), url_for(anchor: :login_form), class: "btn btn-primary position-absolute d-lg-none", style: "top: 30px; right: 30px;"

  %h3.title.mb-3.text-center
    = ENV['APP_NAME']
    %div
      = "(My Journeys)"

  .logo-image-wrapper.flex-row.text-center.justify-content-conter
    = image_tag 'myjourney.png', size: '200x200'

  %footer.mt-4
    = render 'devise/shared/stackholder'

  .text-center
    = link_to "Download Mobile App?", "#", class: 'btn btn-link'
  .text-center
    = image_tag "qr_code.png", size: '100x100'
