.stackholders.d-flex.justify-content-between{ class: local_assigns[:wrapper_class] }
  .funded-by.text-center.flex-shrink-0.mr-4
    %p.text-center.text-funded
      គាំទ្រមូលនិធិដោយ / Funded by

    = link_to '#', target: '_blank' do
      = image_tag 'spotlight_one_line.png', class: 'img-funded', alt: 'Spotlight Initiative'

  .implemented-by
    %p.text-center.text-implemented
      សហការផលិតដោយ / Implemented by
    .d-flex.align-items-center.justify-content-center.flex-wrap.img-implemented-wrapper
      = link_to '#', target: '_blank' do
        = image_tag 'chc.png', class: 'img-implemented', alt: 'API'

      = link_to 'http://ilabsoutheastasia.org', target: '_blank' do
        = image_tag 'instedd.png', class: 'img-implemented', alt: 'InSTEDD iLabSEA'
