.d-flex
  .flex-1.mr-4
    = simple_form_for @notification do |f|
      = f.input :title, label: t('notification.notification_title'), input_html: { maxlength: 64}
      = f.input :body, label: t('notification.notification_text'), input_html: { maxlength: 255}

      .actions.text-right
        = link_to t('shared.cancel'), notifications_url, class: 'btn btn-secondary'
        = f.submit t('notification.send_message'), class: 'btn btn-primary'

  %div
    .preview-background
      .card-box
        .d-flex
          .mr-2
            = image_tag 'myjourney.png', size: '24x24', class: 'rounded'
          %div
            .title
            .text-body
