.d-flex.notifications-form
  .flex-1.mr-4
    = simple_form_for @notification do |f|
      .form-group
        - title_label = "#{t('notification.notification_title')}(#{t('notification.max_title')})"

        = f.input :title, label: title_label, input_html: { maxlength: 64}

        .text-right.small{style: 'margin-top: -12px'}
          %span.title-count 0
          %span /
          %span 64

      .form-group
        - body_label = "#{t('notification.notification_text')} (#{t('notification.max_body')})"

        = f.input :body, label: body_label, input_html: { maxlength: 255}

        .text-right.small{style: 'margin-top: -12px'}
          %span.body-count 0
          %span /
          %span 255

      = f.input :form_id, label: t("notification.questionnaire_to_be_used"), collection: Forms::SurveyForm.all.pluck(:name, :id)

      .actions.text-right
        = render "shared/buttons/cancel_button", url: notifications_url

        = render "shared/buttons/submit_button", f: f, title: t("notification.save_draft")

  %div
    = render "preview_mobile"
