.d-flex.notifications-form.mb-4
  .flex-1.mr-4
    = simple_form_for @notification do |f|
      .form-group
        - title_label = "#{t('notification.notification_title')}(#{t('notification.max_title')})"

        = f.input :title, label: title_label, input_html: { maxlength: 64}

        .text-right.small{style: 'margin-top: -12px'}
          %span.title-count 0
          %span /
          %span 64

      .form-group
        - body_label = "#{t('notification.notification_text')} (#{t('notification.max_body')})"

        = f.input :body, label: body_label, input_html: { maxlength: 255}

        .text-right.small{style: 'margin-top: -12px'}
          %span.body-count 0
          %span /
          %span 255

      .form-group
        %label
          = t("notification.questionnaire_to_be_used")
          %small= link_to "(#{t('notification.view_all_survey_form')})", survey_forms_path, class: 'text-primary', target: '_blank'

        = f.input :form_id, label: false, collection: Forms::SurveyForm.all.map{|f| ["#{f.name} (#{f.status})", f.id]}, input_html: {class: 'custom-select'}

      / Schedule mode
      = f.input :schedule_mode, label: t('notification.schedule_setting'), collection: Notification.schedule_mode_list, include_blank: false

      / For sending onetime
      .onetime-wrapper
        = render "shared/forms/date_field", f: f, field: :start_time, label: t("notification.pushing_notification_date"), required: true

      / For sending multiple time
      .recurrence-wrapper
        / recurrence_rule
        .form-group
          %label= t('notification.set_schedule').html_safe

          = f.select_recurring :recurrence_rule, [IceCube::Rule.weekly.day(:monday), IceCube::Rule.monthly.day_of_month(1)]

        / end_time
        = render "shared/forms/date_field", f: f, field: :end_time, label: t("notification.notification_end_date"), required: true

      .actions.text-right
        = render "shared/buttons/cancel_button", url: notifications_url

        = render "shared/buttons/submit_button", f: f, title: t("notification.save_draft")

  %div
    = render "preview_mobile"
