= render "shared/headers/page_heading", title: t("notification.notification") do
  = render "shared/buttons/add_new_button", url: new_notification_path

.card.shadow.mb-4
  .card-body
    = render "shared/no_data", items: @notifications
    = render "shared/headers/pagination_title", objects: @notifications

    - if @notifications.present?
      %table.table.table-hover
        %thead
          %tr
            %th #
            %th= t('notification.notification_title')
            %th= t('notification.notification_text')
            %th= t('shared.created_at')
            %th= t('shared.status')
            %th

        %tbody
          - @notifications.each_with_index do |notification, index|
            %tr
              %td= @pagy.from + index
              %td= notification.title
              %td= notification.body
              %td= timeago(notification.created_at).html_safe
              %td
                %span.badge{ class: "badge-#{notification.status}" }
                  = notification.status
              %td
                .d-flex.justify-content-end
                  = render "shared/buttons/publish_button", object: notification, message: { type: t('notification.notification'), name: notification.title, url: publish_notification_path(notification) }

                  = render "shared/buttons/edit_button", url: edit_notification_path(notification), object: notification

                  = render 'shared/buttons/delete_button', object: notification,  message: { type: t('notification.push_notification'), name: notification.title, url: notification_path(notification) }

= render "shared/modals/confirm_delete_modal"
= render 'shared/modals/confirm_publish_modal'
