= render "page_heading"

.card.shadow.mb-4
  .card-body
    = render "shared/no_data", items: @notifications
    = render "shared/headers/pagination_title", objects: @notifications

    - if @notifications.present?
      %table.table.table-hover
        %thead
          %tr
            %th #
            %th= t('notification.notification_title')
            %th= t('notification.notification_text')
            %th= t('form.questionnaire')
            %th= t('notification.schedule')
            %th= t('notification.delivery_progress')
            %th= t('shared.created_at')
            %th= t('shared.status')
            %th

        %tbody
          - @notifications.each_with_index do |notification, index|
            %tr
              %td= @pagy.from + index
              %td= notification.title
              %td= notification.body
              %td
                = link_to(notification.survey_form_name, survey_form_path(notification.survey_form), class: 'text-primary', remote: true) if notification.survey_form.present?

              %td= notification.display_schedule
              %td= occurrence_description(notification).html_safe

              %td= timeago(notification.created_at).html_safe
              %td= status_html(notification).html_safe
              %td
                .d-flex.justify-content-end
                  - if policy(notification).cancel?
                    %span{ data: { 'toggle': 'tooltip', 'placement': 'top' }, title: t('notification.cancel_notification') }
                      - message = { type: t('notification.notification'), name: notification.title, url: cancel_notification_path(notification) }

                      %button.btn.btn-circle.btn-sm.btn-outline-danger{ "data-target" => "#confirmCancelModal", "data-toggle" => "modal", "data-message" => message.to_json, :type => "button" }
                        %i.fa-solid.fa-stop

                  - if policy(notification).release?
                    %span.mr-1{ data: { toggle: 'tooltip', placement: 'top', title: t('shared.release')} }
                      %button.btn.btn-sm.btn-outline-info.btn-circle{"data-target" => "#confirmPublishModal", "data-toggle" => "modal", "data-message" => { type: t('notification.notification'), name: notification.title, url: release_notification_path(notification) }.to_json, :type => "button"}
                        %i.fa-solid.fa-play{style: 'margin-left: 2px'}

                  = render "shared/buttons/edit_button", url: edit_notification_path(notification), object: notification

                  = render 'shared/buttons/delete_button', object: notification,  message: { type: t('notification.notification'), name: notification.title, url: notification_path(notification) }


/ Confirm delete modal
= render "shared/modals/confirm_delete_modal"

/ Confirm publish modal
= render "shared/modals/confirm_publish_modal", body_message: t('shared.are_you_sure_to_release', type: "_type_", name: '_name_')

/ Cancel release modal
= render "shared/modals/confirm_cancel_modal"

/ Survey form model
= render "survey_forms/form_detail_modal"

/ Deliver progress modal
= render "notifications/show/delivery_progress_modal"
