= render "page_heading"

.card.shadow.mb-4
  .card-body
    = render partial: "shared/no_data", locals: { items: @users }

    - if @users.present?
      = render 'shared/pagy_label'

      %table.table.table-hover
        %thead
          %tr
            %th #
            %th= t('users.full_name')
            %th= t('users.sex')
            %th= t('users.age')
            %th= t('users.voice')
            %th= t('users.registered_at')
            %th
        %tbody
          - @users.each_with_index do |user, index|
            %tr
              %td= @pagy.from + index
              %td= user.full_name.presence || '-'
              %td
                - if sex = user.sex.presence
                  = image_tag "#{sex.downcase}.png", style: 'width: 24px;', 'data-toggle' => 'tooltip', title: sex.titlecase

              %td= user.age
              %td
                - if user.audio.present?
                  %audio{controls: true}
                    %source{src: user.audio_url}
              %td= timeago(user.registered_at).html_safe
              %td.text-right
                - if user.surveys.present?
                  = link_to t("users.view_quiz"), user_surveys_path(user), class: 'btn'

      - if @pagy.pages > 1
        .pagy-wrapper
          != pagy_bootstrap_nav(@pagy)
