= render "shared/headers/page_heading", title: t("sidebar.your_story") do
  = render "shared/buttons/add_new_button", url: new_story_form_path

.card.shadow.mb-4
  .card-body
    = render partial: "shared/no_data", locals: { items: @forms, url: new_story_form_path, label: t('shared.add_new') }

    - if @forms.present?
      = render 'shared/pagy_label'

      %table.table.table-hover
        %thead
          %tr
            %th #
            %th= t('form.name')
            %th= t('shared.created_at')
            %th= t('shared.modified_at')
            %th= t('form.published_at')
            %th
        %tbody
          - @forms.each_with_index do |form, index|
            %tr
              %td= @pagy.from + index
              %td= form.name
              %td= timeago(form.created_at).html_safe
              %td= timeago(form.updated_at).html_safe
              %td= timeago(form.published_at).html_safe

              %td.text-right
                - unless form.published_at.present?
                  %span{data: { toggle: 'tooltip', placement: 'top', title: t('form.publish')}}
                    %a.btn.btn-sm.btn-info.btn-circle{"data-target" => "#publishModal_#{form.id}", "data-toggle" => "modal", href: '#'}
                      %i.fas.fa-globe
                  = render 'modal_confirm_publish', form: form

                = render 'shared/action_buttons', edit_url: edit_story_form_path(form), delete_url: story_form_path(form), object: form
