= render "shared/headers/page_heading", title: t("sidebar.your_story") do
  .d-flex.align-items-center
    = render "shared/buttons/add_new_button", url: new_story_form_path

    %button.btn.btn-sm.ml-1{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
      %i.fas.fa-ellipsis-v

    .dropdown-menu.dropdown-menu-right
      %a.btn.dropdown-item{ href: story_forms_path(format: :json), target: '_blank' }
        %i.fas.fa-download.drop-menu-icon
        %span= t('shared.download_json')

.card.shadow.mb-4
  .card-body
    = render partial: "shared/no_data", locals: { items: @forms, url: new_story_form_path, label: t('shared.add_new') }

    - if @forms.present?
      = render 'shared/pagy_label'

      %table.table.table-hover
        %thead
          %tr
            %th #
            %th= t('form.name')
            %th= t('shared.created_at')
            %th= t('shared.updated_at')
            %th= t('shared.published_at')
            %th
        %tbody
          - @forms.each_with_index do |form, index|
            %tr
              %td= @pagy.from + index
              %td= form.name
              %td= timeago(form.created_at).html_safe
              %td= timeago(form.updated_at).html_safe
              %td= timeago(form.published_at).html_safe

              %td
                .d-flex.justify-content-end
                  = render "shared/buttons/publish_button", object: form, message: { type: t('form.your_story'), name: form.name, url: publish_story_form_path(form) }

                  = render "shared/buttons/edit_button", url: edit_story_form_path(form), object: form

                  = render 'shared/buttons/delete_button', object: form,  message: { type: t('form.your_story'), name: form.name, url: story_form_path(form) }

= render 'shared/modals/confirm_delete_modal'
= render 'shared/modals/confirm_publish_modal'
