.w-50.view-center
  = simple_form_for @video do |f|
    .mb-3= f.input :name, label: t('shared.title')
    .mb-3= f.input :url, label: t('shared.url')

    .mb-3
      = f.fields_for :video_author, (@video.video_author || @video.build_video_author ) do |builder|
        .w-100{ 'data-authors' => VideoAuthor.pluck(:name) }
          %label= t('video.author')
          %div= builder.input :name, label: false, input_html: { class: 'typeahead-author' }

    .actions
      = render "shared/buttons/cancel_button", url: videos_path
      = render "shared/buttons/submit_button", f: f
