= content_for :title do
  = t('sidebar.video')

.text-right.mb-2
  = render "switch_view_buttons"

= form_for "", url: videos_path, method: 'get' do |f|
  .d-flex.flex-row-reverse.flex-wrap
    .d-flex
      .mr-1= render "shared/buttons/download_button", url: videos_path(filter_params.merge(format: :xlsx))

      = render "shared/buttons/add_new_button", url: new_video_path

      = render "shared/buttons/more_button" do
        %a.btn.dropdown-item{ href: new_video_importer_path }
          %i.fas.fa-file-import.drop-menu-icon
          %span= t("shared.import_from_file")

        %a.btn.dropdown-item{ href: video_importers_path }
          %i.fas.fa-history.drop-menu-icon
          %span= t('shared.importing_history', name: t('sidebar.video'))

        %a.btn.dropdown-item{ href: videos_path(format: :json), target: '_blank' }
          %i.fas.fa-download.drop-menu-icon
          %span= t('shared.download_json')

    .d-flex.flex-grow-1
      = render "shared/filters/filter_name", placeholder: t('shared.search_by_title')

      .ml-3
        = render "shared/buttons/advance_search_button", toggler_variable: "advance_search_video"

      / Search button
      .ml-2
        = render "shared/buttons/search_button"

  / Advance filter
  #collapseOne.accordion-collapse.collapse.collapse-filter
    .d-flex.m-2
      = render "shared/filters/filter_date", placeholder: t('shared.search_by_created_at')
