- field ||= :audio
- errors = f.object.errors[field]
- label ||= ""

.form-group.file-wrapper.d-flex
  .w-100{class: ('form-group-invalid' if errors.present?)}
    - if label.present?
      %label= label
    .form-control.file-control-wrapper{ class: [('d-none' if (errors.blank? && f.object[field].present?)), ('is-invalid' if errors.present?)] }

      = f.file_field field, class: 'file-inputbox', accept: ".mp3,audio/*"

    .invalid-feedback= errors.join('; ')

    - if errors.blank? && f.object[field].present?
      .remove-file-wrapper
        .d-flex.align-items-center
          = f.hidden_field "remove_#{field}".to_sym, class: 'remove-file-checkbox'
          %a.remove-file-button.text-danger.mr-2.pointer
            %i.far.fa-trash-alt

          = link_to f.object.audio_url, target: "_blank", class: 'btn btn-link p-0 d-block text-truncate' do
            = f.object.send("#{field}_identifier")
