%ul#accordionSidebar.navbar-nav.bg-gradient-primary.sidebar.sidebar-dark.accordion
  / Sidebar - Brand
  %a.sidebar-brand.d-flex.align-items-center.justify-content-center{:href => root_path}
    .sidebar-brand-icon
      = image_tag 'myjourney.png', style: "width: 50px"

    .sidebar-brand-text.mx-3
      = t('sidebar.app_name')

  - if policy(:grafana).show?
    %hr.sidebar-divider.my-0/

    %li.nav-item
      %a.nav-link{href: ENV['GF_DASHBOARD_URL'], target: '_blank'}
        %i.fa-solid.fa-chart-column
        %span= t("sidebar.dashboard")

  - if policy(:google_play).show?
    %li.nav-item
      %a.nav-link{href: ENV['GOOGLE_PLAY_DASHBOARD_URL'], target: '_blank'}
        %i.fa-brands.fa-google-play
        %span= t("sidebar.app_install_statistic")

  / Divider
  %hr.sidebar-divider.my-0/

  / Nav Item - Dashboard
  - if ENV['DASHBOARD_URL'].present?
    %li.nav-item{ class: css_active_class('dashboard') }
      %a.nav-link{href: ENV['DASHBOARD_URL'], target: '_blank'}
        %i.fas.fa-fw.fa-tachometer-alt
        %span= t("sidebar.dashboard")

  - if policy(User).index?
    %li.nav-item{ class: css_active_class('users', 'users/surveys') }
      %a.nav-link{:href => users_path}
        %i.fa-fw.fa-solid.fa-user-group
        %span= t("sidebar.app_users")

  - if policy(Notification).index?
    %li.nav-item{ class: css_active_class('notifications', 'survey_forms') }
      %a.nav-link{:href => notifications_path}
        %i.fa-fw.fa-solid.fa-bell
        %span= t("sidebar.notification")

  - if current_account.system_admin? || current_account.admin?
    / Manage Content
    %li.nav-item
      %a.nav-link.collapsed{"aria-controls" => "collapseContent", "aria-expanded" => "true", "data-target" => "#collapseContent", "data-toggle" => "collapse", :href => "#"}
        %i.fas.fa-fw.fa-cog
        %span= t('sidebar.contents')

      #collapseContent.collapse{"aria-labelledby" => "headingTwo", "data-parent" => "#accordionSidebar"}
        .bg-white.py-2.collapse-inner.rounded
          %h6.collapse-header For admin only

          - if policy(Categories::Departure).index?
            %a.collapse-item{ href: departures_path, class: css_active_class('departures') }
              %i.fas.fa-fw.fa-plane-departure
              %span= t("sidebar.departure")

          - if policy(Categories::Safety).index?
            %a.collapse-item{ href: safeties_path, class: css_active_class('safeties') }
              %i.fas.fa-fw.fa-user-shield
              %span= t("sidebar.safety")

          - if policy(Institution).index?
            %a.collapse-item{ href: institutions_path, class: css_active_class('institutions') }
              %i.fas.fa-fw.fa-question-circle
              %span= t("sidebar.looking_for_help")

          - if policy(Form).index?
            %a.collapse-item{ href: story_forms_path, class: css_active_class('story_forms') }
              %i.fas.fa-fw.fa-file-audio
              %span= t("sidebar.your_story")

          - if policy(Video).index?
            %a.collapse-item{ href: videos_path, class: css_active_class('videos', 'video_authors', 'video_importers', 'video_tags') }
              %i.fas.fa-fw.fa-regular.fa-circle-play
              %span= t("sidebar.video")

          - if policy(Page).index?
            %a.collapse-item{ href: pages_path, class: css_active_class('pages') }
              %i.fas.fa-fw.fa-regular.fa-file-lines
              %span= t("sidebar.page")

    / Manage Settings
    %li.nav-item
      %a.nav-link.collapsed{"aria-controls" => "collapseSetting", "aria-expanded" => "true", "data-target" => "#collapseSetting", "data-toggle" => "collapse", :href => "#"}
        %i.fas.fa-fw.fa-wrench
        %span= t('sidebar.settings')

      #collapseSetting.collapse{"aria-labelledby" => "headingTwo", "data-parent" => "#accordionSidebar"}
        .bg-white.py-2.collapse-inner.rounded
          %h6.collapse-header Application setting

          - if policy(Account).create?
            %a.collapse-item{ href: accounts_path, class: css_active_class('accounts') }
              %i.fas.fa-fw.fa-users
              %span= t('sidebar.accounts')

          - if policy(TelegramBot).create?
            %a.collapse-item{ href: telegram_bot_path, class: css_active_class('telegram_bots', 'chat_groups', 'helps') }
              %i.fa-fw.fa-brands.fa-telegram
              %span= t('sidebar.telegram_bot')

          - if current_account.system_admin?
            %a.collapse-item{ href: '/oauth/applications' }
              %i.fa-fw.fa-solid.fa-o
              %span= t('sidebar.oauth_application')

  %li.nav-item{ class: css_active_class('about') }
    %a.nav-link{:href => about_path}
      %i.fas.fa-fw.fa-exclamation-circle
      %span= t('sidebar.about')

  %li.nav-item
    %a.nav-link{:href => '/my_journeys_web_app_manual.pdf', download: true, target: '_blank'}
      %i.fa-fw.fa-regular.fa-circle-question
      %span= t('sidebar.how_to_use')

  / Divider
  %hr.sidebar-divider.d-none.d-md-block

  / Sidebar Toggler (Sidebar)
  .text-center.d-none.d-md-inline.mt-3
    %button#sidebarToggle.rounded-circle.border-0

  .footer
    / Version
    .version
      %span= "#{t('sidebar.version')}: #{ENV.fetch('APP_VERSION') { 'development' }}"
