%ul#accordionSidebar.navbar-nav.bg-gradient-primary.sidebar.sidebar-dark.accordion
  / Sidebar - Brand
  %a.sidebar-brand.d-flex.align-items-center.justify-content-center{:href => root_path}
    .sidebar-brand-icon
      = image_tag 'logo.jpg', style: "width: 50px"

    .sidebar-brand-text.mx-3
      = ENV['APP_SHORTCUT_NAME']

  / Divider
  %hr.sidebar-divider.my-0/

  / Wrapper scroll
  .sidebar-list-wrapper
    / Nav Item - Dashboard
    %li.nav-item{ class: get_css_active_class('dashboard') }
      %a.nav-link{href: ENV['DASHBOARD_URL'], target: '_blank'}
        %i.fas.fa-fw.fa-tachometer-alt
        %span= t("sidebar.dashboard")

    - if policy(Account).index?
      %li.nav-item{ class: get_css_active_class('accounts') }
        = link_to accounts_path, class: 'nav-link' do
          %i.fas.fa-fw.fa-users
          %span= t("sidebar.accounts")

    - if policy(User).index?
      %li.nav-item{ class: [get_css_active_class('users')] }
        %a.nav-link{:href => users_path}
          %i.fas.fa-fw.fa-people-carry
          %span= t("sidebar.app_users")

    - if policy(Categories::Departure).index?
      %li.nav-item{ class: [get_css_active_class('departures')] }
        %a.nav-link{:href => departures_path}
          %i.fas.fa-fw.fa-plane-departure
          %span= t("sidebar.departure")

    - if policy(Categories::Safety).index?
      %li.nav-item{ class: [get_css_active_class('safeties')] }
        %a.nav-link{:href => safeties_path}
          %i.fas.fa-fw.fa-user-shield
          %span= t("sidebar.safety")

    - if policy(Institution).index?
      %li.nav-item{ class: [get_css_active_class('institutions')] }
        %a.nav-link{:href => institutions_path}
          %i.fas.fa-fw.fa-university
          %span= t("sidebar.institutions")

    - if policy(Form).index?
      %li.nav-item{ class: [get_css_active_class('forms')] }
        %a.nav-link{:href => forms_path}
          %i.fas.fa-file-audio
          %span= t("form.story_form")

    - if policy(Notification).index?
      %li.nav-item{ class: [get_css_active_class('notifications')] }
        %a.nav-link{:href => notifications_path}
          %i.fas.fa-bell
          %span= t("sidebar.notification")

    %li.nav-item{ class: get_css_active_class('abouts') }
      %a.nav-link{:href => about_path}
        %i.fas.fa-fw.fa-exclamation-circle
        %span= t('sidebar.about')

    / Divider
    %hr.sidebar-divider.d-none.d-md-block

  / Sidebar Toggler (Sidebar)
  .text-center.d-none.d-md-inline.mt-3
    %button#sidebarToggle.rounded-circle.border-0

  .footer
    / Version
    .version
      %span= "#{t('sidebar.version')}: #{ENV.fetch('APP_VERSION') { 'development' }}"
