.d-flex.item
  .name{ class: "depth-#{category.depth}" }
    = category.name

  .flex-1

  .action-buttons
    - if policy(Categories::Departure).create?
      = link_to new_departure_path(parent_id: category.id), remote: true, class: "btn btn-circle btn-sm btn-info mr-2", data: { toggle: 'tooltip', placement: 'top', title: t('shared.add_sub_category')} do
        %i.fas.fa-plus

    = render 'shared/action_buttons', edit_url: edit_departure_path(category), remote: true, delete_url: departure_path(category), object: category

- category.children.each do |child|
  = render "category", category: child
