= content_for :title do
  = t("category.your_departure")

.d-flex.justify-content-end.mb-2
  = render "shared/buttons/add_new_button", url: new_departure_path

  = render "shared/buttons/more_button" do
    %a.btn.dropdown-item{ href: departures_path(format: :json), target: '_blank' }
      %i.fas.fa-download.drop-menu-icon
      %span= t('shared.download_json')
