= render "page_heading"

.card.shadow.mb-4.categories
  .card-body
    = render partial: "shared/no_data", locals: { items: @categories, url: new_departure_path, label: t('shared.add_new') }

    - if @categories.present?
      .d-flex.header
        %strong.name= t("category.name")

      - @categories.each_with_index do |category, index|
        = render 'categories/category', category: category, num: index + 1, type: 'departure'

= render "shared/modals/confirm_delete_modal"
