.w-50.view-center
  = simple_form_for @page do |f|
    - readonly = !@page.new_record?

    .mb-3= f.input :code, label: t('page.code'), input_html: { readonly: readonly }
    .mb-3= f.input :name_en, label: t('shared.name_en')
    .mb-3= f.input :name_km, label: t('shared.name_km')

    .mb-3
      %label= t('page.parent')
      = f.select :parent_id, nested_set_options(Page, @page) {|i| "#{'-' * i.level} #{i.name}" }, {include_blank: true}, class: 'form-control form-select', disabled: readonly

    = render "shared/buttons/submit_and_cancel_button", cancel_url: pages_path, f: f
