.row
  .col-xs-12.col-md-6
    = link_to 'new center', new_help_center_path, class: 'btn btn-primary mb-3'

    %table.table
      %thead
        %tr
          %th{:scope => "col"} #
          %th{:scope => "col"} name
          %th{:scope => "col"} created at
          %th{:scope => "col"} &nbsp;
      %tbody
        - @help_centers.each do |help_center|
          %tr
            %th{:scope => "row"} 1
            %td= help_center.name
            %td= help_center.created_at
            %td
              
              = link_to edit_help_center_path(help_center), id: dom_id(help_center, :edit), class: "btn btn-sm rounded-circle btn-warning mr-3" do
                %i.fas.fa-pen

              = link_to help_center_path(help_center), id: dom_id(help_center, :delete), data: { method: :delete, confirm: 'are you sure?' }, class: "btn btn-sm rounded-circle btn-danger" do
                %i.fas.fa-trash-alt
