.container
  .row
    .col-12
      - unless signed_in?
        = link_to 'Back', root_path, class: 'btn btn-link'

      %h1.my-4.text-center
        ឯកជនភាព

      .main-content.p-3.text-justify
        %p កម្មវិធីអ៊ែប ដំណើរឆ្លងដែនរបស់ខ្ញុំ បានកសាងឡើងដោយបណ្តាញទូរសព្ទ័ជំនួយកុមារកម្ពុជា (CHC) និង  អ៊ែបវិស្វករ InSTEDD ដែលជាផលិតផលក្រោមកម្មវិធី សុវត្ថិភាព និងយុត្តិធម៌ សម្រេចឲ្យបាននូវសិទ្ធិ និង     ឱកាសរបស់ពលករស្រ្តីក្នុងតំបន់អាស៊ីអាគ្នេយ៍ (ASEAN) គឺជាផ្នែកមួយនៃគំនិតផ្តួចផ្តើម Spotlight ដើម្បីលុបបំបាត់រាល់ទម្រង់អំពើហិង្សាលើស្ត្រី និងក្មេងស្រីជាគំនិតផ្តួចផ្តើមជាសកលអនុវត្តច្រើនឆ្នាំរវាងសហភាពអឺរ៉ុប និងអង្គការសហប្រជាជាតិ។ ការអនុវតកម្មវិធី សុវត្ថិភាព និងយុត្តិធម៌ ធ្វើឡើងតាមរយៈភាពជាដៃគូ ILO និង UN Women (ដោយសហការជាមួយ UNODC)។ កម្មវិធីអ៊ែបនេះ គឺជា ប្រភពព័ត៌មានជាសាធារណៈមួយ ដែលបង្កើតឡើងសម្រាប់ប្រើប្រាស់ដោយមិនមានការគិតថ្លៃ និង មានបំណងឲ្យប្រើប្រាស់ស្របតាមគោលបំណងរបស់អ៊ែប។


        %p ឯកសារនេះ មានបំណងជម្រាបដល់អ្នកប្រើប្រាស់អ៊ែបនេះ គោលការណ៍នានាទាក់ទងនឹងការ ប្រមូល និងការប្រើប្រាស់ព័ត៌មានផ្ទាល់ខ្លួន។

        %p ប្រសិនអ្នកជ្រើសរើសការប្រើប្រាស់ អ៊ែបនេះ មានន័យថាអ្នកបានយល់ព្រមក្នុងការប្រមូល និងការប្រើប្រាស់ព័ត៌មានផ្ទាល់ខ្លួន។ ឈ្មោះរបស់អ្នកនឹងមិនត្រូវយកមកប្រើប្រាស់នោះទេ ប៉ុន្តែទិន្នន័យមួយចំនួននឹងអាចប្រមូលមកដើម្បីធ្វើឱ្យអ៊ែប នេះដំណើរការកាន់តែប្រសើរ។ ពួកយើងនឹងយកព័ត៌មានរបស់អ្នកទៅចែករំលែកទៅឱ្យអ្នកណាម្នាក់ផ្សេងឡើយក្រៅពីអ្វីដែលបានរាយរាប់នៅក្នុងគោលការណ៍ឯកជនភាពនេះ។

        %p លក្ខខណ្ឌប្រើប្រាស់ក្នុងគោលការណ៍ឯកជនភាពនេះមានន័យដូចគ្នាទៅនឹងលក្ខខណ្ឌប្រើប្រាស់ទូទៅ ដែលអ្នកអាចរកបាននៅក្នុង ដំណើរឆ្លងដែនរបស់ខ្ញុំ។

        %h4 ការប្រមូល និងការប្រើប្រាស់ព័ត៌មាន
        %p ដើម្បីទទួលបានបទពិសោធន៍កាន់តែប្រសើរក្នុងពេលប្រើប្រាស់កម្មវិធី (App) របស់យើង យើងអាចតម្រូវឱ្យអ្នកផ្តល់ព័ត៌មានអត្តសញ្ញាណផ្ទាល់ខ្លួនមួយចំនួន ដែលរួមបញ្ចូល ប៉ុន្តែមិនកំណត់ត្រឹមឈ្មោះអ្នកប្រើប្រាស់ (user name) លេខទូរស័ព្ទចល័ត សារដែលទទួលបាន (incoming SMS)។ យើងនឹងរក្សាទុក និងប្រើប្រាស់ព័ត៌មានដែលយើងស្នើសុំ ដូចការពិពណ៌នាក្នុងគោលនយោបាយឯកជនភាពនេះ។

        %p កម្មវិធីនៃអ៊ែប “ដំណើរឆ្លងដែនរបស់ខ្ញុំ!” ប្រើសេវារបស់ភាគីទីបី ដែលអាចប្រមូលព័ត៌មាន ដែលបានប្រើប្រាស់ដើម្បីកំណត់អត្តសញ្ញាណរបស់អ្នក។

        %p ខាងក្រោមនេះ តំណភ្ជាប់ទៅនឹងគោលនយោបាយឯកជនភាព របស់អ្នកផ្តល់សេវាជាភាគីទីបី ដែលប្រើប្រាស់ដោយកម្មវិធីនេះ។

        %ul
          %li= link_to "Google Play Services", "https://policies.google.com/privacy", target: '_blank'

        %h4 Log Data
        %p គ្រប់ពេលដែលអ្នកប្រើកម្មវិធីរបស់យើង ហើយមានដំណើរការរអាក់រអួល យើងនឹងប្រមូលទិន្នន័យ និងព័ត៌មាន (តាមរយៈផលិតផលរបស់ភាគីទីបី) លើទូរស័ព្ទរបស់អ្នក (log data)។ Log data អាចរួមបញ្ចូលព័ត៌មាន ដូចជា អាសយដ្ឋានពិធីសារអ៊ីនធឺណិត (IP) ក្នុងឧបករណ៍របស់អ្នក ឈ្មោះឧបករណ៍ ជំនាន់នៃប្រព័ន្ធប្រតិបត្តិការ (version) ខន់ហ្វិចហ្គ័ររេសិន (configuration) របស់កម្មវិធី នៅពេលប្រើកម្មវិធីរបស់យើង ពេលវេលា និងកាលបរិច្ឆេទដែលអ្នកប្រើកម្មវិធីនេះ និងស្ថិតិផ្សេងទៀត។

        %h4 Cookies
        %p Cookies ជាឯកសារដែលមានទំហំទិន្នន័យតូច ដែលជាទូទៅត្រូវបានប្រើប្រាស់ ជាកត្តាកំណត់អត្តសញ្ញាណដោយឡែក និងអនាមិក។ Cookies ត្រូវបានបញ្ជូនទៅកម្មវិធីរុករក (browser)របស់អ្នក ចេញពីគេហទំព័រដែលអ្នកចូលប្រើ និងត្រូវបានរក្សាទុកក្នុងអង្គចងចាំខាងក្នុង (internal memory) នៃឧបករណ៍របស់អ្នក។

        %p អ៊ែប “ដំណើរឆ្លងដែនរបស់ខ្ញុំ!” មិនប្រើ “cookies” ទាំងនេះដោយផ្ទាល់នោះទេ ប៉ុន្តែកម្មវិធីនេះអាចប្រើកូដ និងបណ្ណាល័យ (libraries) របស់ភាគីទីបី ដែលប្រើ “cookies” ដើម្បីប្រមូលព័ត៌មានសម្រាប់ការកែលម្អសេវារបស់ខ្លួន។ អ្នកអាចទទួលយក ឬបដិសេធ cookies ទាំងនេះ និងដឹងពីពេលដែលមានការផ្ញើរ cookies ទៅឧបករណ៍របស់អ្នក។ ប្រសិនបើសម្រេចបដិសេធ cookies របស់យើង អ្នកប្រហែលជាមិនអាចប្រើផ្នែកខ្លះនៃសេវានេះបានទេ។

        %h4 អ្នកផ្តល់សេវា
        %p
          អ្នកអាចជួលក្រុមហ៊ុន និងបុគ្គលដែលជាភាគីទីបីឱ្យ៖
          %ul
            %li សម្រួលដល់សេវារបស់យើង
            %li ផ្តល់សេវាជំនួសមុខឱ្យយើងខ្ញុំ
            %li ជួយដល់យើងក្នុងការវិភាគរបៀបនៃការប្រើប្រាស់សេវារបស់យើង។

        %p យើងចង់ឱ្យអ្នកប្រើសេវានេះដឹងថា ភាគីទីបីទាំងនេះអាចចូលមើលព័ត៌មានបុគ្គលរបស់អ្នកបានដើម្បីឱ្យពួកគេអាចបំពេញកិច្ចដែលពួកគេត្រូវធ្វើជំនួសមុខឱ្យយើងខ្ញុំ។ ទោះជាយ៉ាងណា ភាគីទីបីទាំងនោះមានកាតព្វកិច្ចមិនបង្ហាញ ឬប្រើប្រាស់ព័ត៌មានទាំងនេះសម្រាប់គោលបំណងផ្សេងទៀត។

        %h4 សន្តិសុខ
        %p យើងផ្តោតសំខាន់លើទំនុកចិត្តរបស់អ្នកក្នុងការផ្តល់ព័ត៌មានផ្ទាល់ខ្លួនរបស់អ្នក ដល់យើងខ្ញុំ។ ដូច្នេះ យើងនឹងខិតខំប្រើប្រាស់មធ្យោបាយដែលមានការទទួលស្គាល់ទូទៅដើម្បីការពារព័ត៌មានរបស់អ្នក ប៉ុន្តែសូមចងចាំថា គ្មានមធ្យោបាយណាមួយនៃការបញ្ជូនព័ត៌មានតាមអ៊ីនធឺណិត ឬមធ្យោបាយណាមួយនៃការរក្សាទុកព័ត៌មានក្នុងប្រព័ន្ធអេឡិចត្រូនិក ដែលមានសន្តិសុខ និងអាចជឿទុកចិត្តបាន ១០០% នោះទេ។ ដូច្នេះ យើងមិនអាចធានាសន្តិសុខបានទាំងស្រុងឡើយ។

        %h4 តំណភ្ជាប់ទៅនឹងគេហទំព័រផ្សេងទៀត
        %p សេវានេះអាចមានតំណភ្ជាប់ទៅនឹងគេហទំព័រផ្សេងទៀត។ ប្រសិនបើចុចលើតំណភ្ជាប់របស់ភាគីទីបី អ្នកនឹងចូលទៅក្នុងគេហទំព័រនោះ។ សូមចាំថា គេហទំព័រក្រៅទាំងនេះមិនដំណើរការដោយ InSTEDD នោះទេ។ ដូច្នេះ យើងណែនាំឱ្យអ្នកពិនិត្យឡើងវិញលើគោលនយោបាយឯកជនភាពនៃគេហទំព័រទាំងនេះ។ យើងមិនអាចគ្រប់គ្រង និងមិនទទួលខុសត្រូវលើខ្លឹមសារ គោលនយោបាយឯកជនភាព ឬការអនុវត្តនៃគេហទំព័រ ឬសេវារបស់ភាគីទីបីឡើយ។

        %h4 ឯកជនភាពរបស់កុមារ
        %p សេវាទាំងនេះមិនលើកឡើងពីកុមារអាយុក្រោម ១៥ ឆ្នាំឡើយ លុះត្រាតែមានការយល់ព្រមពីឪពុកម្តាយរបស់ពួកគេ។ យើងមិនប្រមូលព័ត៌មានផ្ទាល់ខ្លួនដែលអាចកំណត់អត្តសញ្ញាណបានពីកុមារអាយុក្រោម ១៥ ឆ្នាំដោយគ្មានការយល់ព្រមពីឪពុកម្តាយបង្កើតរបស់ពួកគេឡើយ។ ក្នុងករណីដែលយើងរកឃើញថា កុមារអាយុក្រោម ១៥ ឆ្នាំបានផ្តល់ព័ត៌មានផ្ទាល់ខ្លួនរបស់ពួកគេ ដោយគ្មានការយល់ព្រមពីឪពុកម្តាយ យើងនឹងលុបព័ត៌មានទាំងនោះចេញពី servers របស់យើងភ្លាម។ ប្រសិនបើអ្នកជាឪពុក/ម្តាយ ឬអាណាព្យាបាល ហើយអ្នកបានដឹងថា កូនរបស់អ្នកបានផ្តល់ព័ត៌មានផ្ទាល់ខ្លួនរបស់ពួកគេដល់យើងខ្ញុំ សូមទាក់ទងមកយើងខ្ញុំដើម្បីចាត់វិធានការចាំបាច់។

        %h4 ការកែប្រែគោលនយោបាយឯកជនភាព
        %p យើងអាចធ្វើបច្ចុប្បន្នភាពគោលនយោបាយឯកជនភាពរបស់យើង។ ដូច្នេះ អ្នកគួរពិនិត្យមើលទំព័រនេះម្តងម្កាលដើម្បីដឹងពីការកែប្រែ។ យើងនឹងជូនដំណឹងទៅអ្នកអំពីការកែប្រែណាមួយ ដោយបង្ហោះគោលនយោបាយឯកជនភាពថ្មីក្នុងទំព័រនេះ។ ការកែប្រែទាំងនេះចូលជាធរមានបន្ទាប់ពីការបង្ហោះក្នុងទំព័រនេះ។

        %h4 ព័ត៌មានទំនាក់ទំនងរបស់យើង
        %p= "ប្រសិនបើមានចម្ងល់ ឬមតិយោបល់អំពីគោលនយោបាយឯកជនភាពរបស់យើង សូមទាក់ទងមក  <a href='mailto:#{ENV['CONTACT_EMAIL']}'>#{ENV['CONTACT_EMAIL']}</a>, Tel: <a href='tel:#{ENV['CONTACT_PHONE']}'>#{ENV['CONTACT_PHONE']}</a>".html_safe
