.d-sm-flex.align-items-center.justify-content-between.mb-4
  %h1.h3.mb-0.text-gray-800= "#{@user.full_name}(#{t('users.id')}: #{@user.id}): #{t('survey.quizzes')}"

  = link_to users_path, class: 'btn btn-primary btn-sm shadow-sm' do
    %i.fas.fa-arrow-left.fa-sm.text-white-50
    = t('shared.back')

.card.shadow.mb-4
  .card-body
    = render partial: "shared/no_data", locals: { items: @surveys }

    - if @surveys.present?
      = render 'shared/pagy_label'

      %table.table.table-hover
        %thead
          %tr
            %th #
            %th= t('survey.story')
            %th= t('survey.quiz_date')
            %th= t('survey.answer')
            %th

        %tbody
          - @surveys.each_with_index do |survey, index|
            %tr
              %td= @pagy.from + index
              %td= survey.form.name
              %td= l(survey.quizzed_at, format: :nice)
              %td
                = link_to user_survey_path(@user, survey), class: 'btn btn-link', remote: true do
                  = "#{t('survey.quiz')}(#{survey.survey_answers.length})"
                  - if arr = survey.survey_answers.select{|a| a.voice_url.present?}.presence
                    = "(voice: #{arr.length})"

              %td.text-right

      - if @pagy.pages > 1
        .pagy-wrapper
          != pagy_bootstrap_nav(@pagy)

= render 'modal'
