#content
  .w-75.view-center
    - unless signed_in?
      = link_to 'Back', root_path, class: 'btn btn-link'

    %nav.text-center.mb-4{ class: ('mt-3' if signed_in?) }
      .container-fluid
        %h3 កម្មវិធីដំណើរឆ្លងដែនរបស់ខ្ញុំ
        %h4 (My Journeys Application)

    %p= t('about.app_definition')
    %p= t('about.safe_and_fare_definition')

    %h5.text-center
      %strong ក្រោមជំនួយថវិកាដោយ / Funded By

    .w-100.text-center
      = image_tag('spotlight_one_line.png', class: 'spotlight-logo')

    %h5.text-center.my-3
      %strong សហការណ៍ផលិតដោយ / Implemented By

    .d-flex.justify-content-center.mb-5
      %div= image_tag('unwomen.png', class: 'small-logo')
      %div.mx-2= image_tag('instedd.png', class: 'small-logo')
      %div= image_tag('chc.png', class: 'small-logo')



