#content.pb-2
  .w-75.view-center
    - unless signed_in?
      = link_to 'Back', root_path, class: 'btn btn-link'

    %nav.text-center.mb-4{ class: ('mt-3' if signed_in?) }
      .container-fluid
        %h3 កម្មវិធីដំណើរឆ្លងដែនរបស់ខ្ញុំ
        %h4 (My Journeys Application)

    %p កម្មវិធីអ៊ែប ដំណើរឆ្លងដែនរបស់ខ្ញុំ បានកសាងឡើងដោយបណ្តាញទូរសព្ទ័ជំនួយកុមារកម្ពុជា​ (CHC) និងអ៊ែបវិស្វករ InSTEDD ដែលជាផលិតផលក្រោមកម្មវិធី សុវត្ថិភាព និងយុត្តិធម៌ សម្រេចឲ្យបាននូវសិទ្ធិ និងឱកាសរបស់ពលករស្រ្តីក្នុងតំបន់អាស៊ីអាគ្នេយ៍ (ASEAN)គឺជាផ្នែកមួយនៃគំនិតផ្តួចផ្តើម Spotlight ដើម្បីលុបបំបាត់រាល់ទម្រង់អំពើហិង្សាលើស្ត្រី និងក្មេងស្រីជាគំនិតផ្តួចផ្តើមជាសកលអនុវត្តច្រើនឆ្នាំរវាងសហភាពអឺរ៉ុប និងអង្គការសហប្រជាជាតិ។ ការអនុវតកម្មវិធី សុវត្ថិភាព និងយុត្តិធម៌ ធ្វើឡើងតាមរយៈភាពជាដៃគូ ILO និង UN Women (ដោយសហការជាមួយ UNODC)។ កម្មវិធីអ៊ែបនេះគឺជាប្រភពព័ត៌មានជាសាធារណៈមួយដែលបង្កើតឡើងសម្រាប់ប្រើប្រាស់ដោយមិនមានការគិតថ្លៃ និងមានបំណងឲ្យប្រើប្រាស់ស្របតាមគោលបំណងរបស់អ៊ែប។

    %p= t('about.safe_and_fare_definition')

    %h5.text-center
      %strong ក្រោមជំនួយថវិកាដោយ / Funded By

    .w-100.text-center
      = image_tag('spotlight_one_line.png', class: 'spotlight-logo')

    %h5.text-center.my-3
      %strong សហការណ៍ផលិតដោយ / Implemented By

    .d-flex.justify-content-center.mb-5
      %div.mx-2= image_tag('instedd.png', class: 'small-logo')
      %div= image_tag('chc.png', class: 'small-logo')

    %p.text-center
      %a.btn.btn-link{href: '/my_journeys_web_app_manual.pdf', download: true, target: '_blank'}
        %i.fas.fa-cloud-download-alt
        %span ទាញយកសៀវភៅណែនាំកម្មវិធី / Download Application Manual
