%ol
  - @form.questions.each do |question|
    %li.mb-3
      %div
        / Display question
        %span{ 'data-toggle': 'tooltip', 'data-title': question.label }
          = question.icon.html_safe

        = question.name

        .d-flex.align-items-center
          / Display tag_list
          - tag_list = question.tag_list.split(", ")
          .tag-list-wrapper{ class: ('d-none' unless tag_list.present?)}
            .d-flex.align-items-center
              %small.mr-1= "#{t('shared.tags')}: "
              .tag-wrapper= tag_list_html(tag_list).html_safe

          / Display tracking
          .tracking.ml-2{ class: ('d-none' unless question.tracking?) }
            .d-flex.align-items-center
              = image_tag "barchart.png", width: 14, height: 14
              %small.ml-1= t('form.tracking')

      / Display option
      %ul.list-unstyled.pl-3
        - question.options.each do |option|
          = option_list_item(question.type, option)
