%fieldset.option-field
  .field-wrapper{style: 'margin-top: 1em'}
    %div
      = f.hidden_field :_destroy
      = link_to '#', class: "remove_fields btn btn-link" do
        %i.fa.fa-trash-alt.text-danger

    .flex-1
      .d-flex.flex-1
        .flex-1.mr-2
          = f.input :name, label: false, placeholder: t("form.answer_maximum")
        .flex-1.mr-2
          = f.input :value, label: false, placeholder: t("form.value")

        .mr-2.w-25.d-none.d-for-note
          .d-flex
            %div{style: 'width: 90%'}
              = render "shared/image", f: f

            %span.ml-1{'data-toggle': 'tooltip', 'data-title': t('form.option_icon_hint')}
              %i.fa-regular.fa-circle-question.text-gray-800

        .mr-2.d-none.d-for-select-one.d-for-select-multiple
          = link_to "Advanced", "#", class: 'btn btn-advance'

      .d-none.d-for-select-one.d-for-select-multiple
        .advance-options{class: ('d-none' unless f.object.chat_group_ids.present?)}
          .form-group
            %label
              = t('form.telegram_chat_group')
              %span.ml-1{'data-toggle': 'tooltip', 'data-title': t('form.chat_group_description')}
                %i.fa-regular.fa-circle-question

            .filter-input.tooltips{ 'data-toggle' => 'tooltip' }
              = f.input :chat_group_ids, label: false, collection: TelegramBot.instance.chat_groups.pluck(:title, :id), input_html: {class: 'custom-select selectpicker chat_group_ids', multiple: true, "data-live-search" => "true", "data-count-selected-text" => "{0} #{t('form.group_selected')}", "data-selected-text-format" => "count > 1", "data-none-selected-text" => t('shared.please_select') }
