%fieldset.section
  %legend.d-flex.align-items-center
    .d-inline-block
      = f.input :name, label: false, placeholder: t('form.section_name'), wrapper_html: { class: 'mb-0' }

    .action.remove-section.mb-0{'data-confirm' => t('form.are_you_sure_to_delete_section')}
      = f.hidden_field :display_order, class: 'display-order'
      %div
        = f.hidden_field :_destroy
        = link_to '#', class: "remove_fields btn btn-link" do
          %i.fa.fa-trash-alt.icon-delete.text-danger

  %ol.fields.sortable
    = f.fields_for :questions, f.object.questions do |builder|
      = render 'question_fields', f: builder

    = link_to_add_fields t('form.add_question'), f, :questions
