= render "shared/headers/page_heading", title: t("form.questionnaire") do
  = render "shared/buttons/add_new_button", url: new_survey_form_path

.d-flex.mb-2
  %form.flex-grow-1.d-flex{ action: survey_forms_path, method: 'get'}
    = render "shared/filters/filter_name"
    .ml-2= render "shared/buttons/search_button"

  %div
    = render "notifications/switch_view_buttons"

.card.shadow.mb-4
  .card-body
    = render partial: "shared/no_data", locals: { items: @forms, url: new_survey_form_path, label: t('shared.add_new') }

    - if @forms.present?
      = render 'shared/pagy_label'

      %table.table.table-hover
        %thead
          %tr
            %th #
            %th= t('form.name')
            %th= t('form.number_of_question')
            %th= t('form.number_of_notification')
            %th= t('shared.tags')
            %th= t('shared.description')
            %th= t('shared.status')
            %th
        %tbody
          - @forms.each_with_index do |form, index|
            %tr
              %td= @pagy.from + index
              %td= link_to form.name, survey_form_path(form), class: 'text-primary'
              %td= form.questions.length
              %td
                = link_to form.notifications.length, notifications_path(form_id: form.id), class: 'text-primary' if form.notifications.length.positive?
              %td= form.tag_list
              %td= form.description
              %td= form_status_html(form).html_safe
              %td
                .d-flex.justify-content-end
                  = render "shared/buttons/edit_button", url: edit_survey_form_path(form), object: form

                  = render 'shared/buttons/delete_button', object: form,  message: { type: t('form.your_story'), name: form.name, url: survey_form_path(form) }

                  - if !policy(form).destroy?
                    = render "shared/buttons/delete_disable_button"

= render 'shared/modals/confirm_delete_modal'
