= render "shared/headers/page_heading", title: "#{t('form.questionnaire')}: #{@form.name}" do
  = render "shared/buttons/back_button", url: survey_forms_url

.card.shadow.mb-4
  .card-body
    %ol
      - @form.questions.each do |question|
        %li.mb-3
          %div
            = "#{question.icon} #{question.name}".html_safe
            / Tag list
            - tag_list = question.tag_list.split(", ")
            .tag-list-wrapper{ class: ('d-none' unless tag_list.present?)}
              .d-flex.align-items-center
                %small.mr-1= "#{t('shared.tags')}: "
                .tag-wrapper= tag_list_html(tag_list).html_safe
          %ul
            - question.options.each do |option|
              %li
                = "#{option.name} (#{option.value})"
                / Chat group
                - chat_groups = option.chat_groups.uniq
                .chat-group-wrapper.mr-2{ class: ('d-none' unless chat_groups.present?) }
                  .d-flex.align-items-center
                    %small.mr-1= "#{t('notification.notification')}: "
                    %span.notification-wrapper{'data-toggle': 'tooltip', 'data-html': 'true', 'data-title': "#{sanitize(chat_group_list_html(chat_groups))}"}
                      %i.fa-brands.fa-telegram{style: 'color: #0088cc'}
