= simple_form_for @form, html: { class: 'main-form skip-logic' } do |f|
  = f.input :name

  %fieldset
    %legend.d-inline
      %span Questions
      %button.btn.collapse-all-trigger{type: :button}
        %i.fas.fa-caret-right

    %ol.fields.sortable
      = f.fields_for :questions, f.object.questions do |builder|
        = render 'question_fields', f: builder

      = link_to_add_fields t('form.add_question'), f, :questions

    .actions.text-right.mb-3
      = link_to t('shared.cancel'), forms_path, class: 'btn btn-secondary'
      = f.submit t('shared.save'), class: 'btn btn-primary'

:javascript
  locale = {
    please_select: "#{t('shared.please_select')}",
    select_question_from_list: "#{t('form.select_question_from_list')}",
    skip_logic_not: "#{t('form.skip_logic_not')}",
    any_of: "#{t('form.any_of')}",
    match_all_of: "#{t('form.match_all_of')}"
  }
