.d-sm-flex.align-items-center.justify-content-between.mb-4
  %h1.h3.mb-0.text-gray-800= t("category.story_form")
  - if @forms.present?
    = link_to new_form_path, class: "btn btn-primary btn-sm shadow-sm" do
      %i.fas.fa-plus.fa-sm.text-white-50
      = t('shared.add_new')

.card.shadow.mb-4.categories
  .card-body
    = render partial: "shared/no_data", locals: { items: @forms, url: new_form_path, label: t('shared.add_new') }

    - if @forms.present?
      = render 'shared/pagy_label'

      %table.table.table-hover
        %thead
          %tr
            %th #
            %th= t('form.name')
            %th= t('shared.created_at')
            %th= t('shared.modified_at')
            %th
        %tbody
          - @forms.each_with_index do |form, index|
            %tr
              %td= @pagy.from + index
              %td= form.name
              %td= l(form.created_at)
              %td= l(form.updated_at)
              %td.text-right
                = render 'shared/action_buttons', edit_url: edit_form_path(form), delete_url: form_path(form), object: form
