- edit_url = send("edit_#{type}_path", id: category.id)
- delete_url = send("#{type}_path", id: category.id)
- new_url = send("new_#{type}_path", parent_id: category.id)

.d-flex.item
  .name{ class: "depth-#{category.depth}" }
    = "#{num}. #{category.name}"

  .mr-4
    = image_tag category.image_url, width: 40

  .flex-1
    - if category.audio_url.present?
      %audio{controls: true}
        %source{src: category.audio_url}

  .action-buttons
    - if policy(Categories::Departure).create? && !category.last?
      = link_to new_url, class: "btn btn-circle btn-sm btn-info mr-2", data: { toggle: 'tooltip', placement: 'top', title: t('shared.add_sub_category')} do
        %i.fas.fa-plus

    = render 'shared/action_buttons', edit_url: edit_url, delete_url: delete_url, object: category

- category.children.each_with_index do |child, index|
  = render "category", category: child, num: "#{num}.#{index + 1}", type: type
