- edit_url = send("edit_#{type}_path", id: category.id)
- delete_url = send("#{type}_path", id: category.id)
- new_url = send("new_#{type}_path", parent_id: category.id)

.d-flex.item
  .name{ class: "depth-#{category.depth}" }
    = "#{num}. #{category.name}"

  .mr-4
    = image_tag category.image_url, width: 40

  .flex-1
    - if category.audio_url.present?
      %audio{controls: true}
        %source{src: category.audio_url}

  .action-buttons.d-flex.justify-content-end
    - if policy(Categories::Departure).create? && !category.last?
      = link_to new_url, class: "btn btn-circle btn-sm btn-outline-info mr-1", data: { toggle: 'tooltip', placement: 'top', title: t('shared.add_sub_category')} do
        %i.fas.fa-plus

    = render 'shared/buttons/edit_button', object: category, url: edit_url

    = render 'shared/buttons/delete_button', object: category, message: { type: t("category.category"), name: category.name, url: delete_url }

- category.children.each_with_index do |child, index|
  = render "category", category: child, num: "#{num}.#{index + 1}", type: type
