.w-75.view-center
  = simple_form_for @category, as: :category, url: form_url do |f|
    = render "categories/form/image", f: f

    - if @category.parent.present?
      .form-group
        %label= t('category.parent_category')
        .form-control
          = @category.parent.name

    = f.input :uuid, as: :hidden
    = f.input :parent_id, as: :hidden
    = f.input :name, label: t('category.name')
    = render "categories/form/audio", f: f

    = f.input :description, input_html: {id: 'description'}

    = render "shared/buttons/submit_and_cancel_button", cancel_url: cancel_url, f: f
