.card.shadow.mb-4
  .card-body
    = render partial: "shared/no_data", locals: { items: @batches }

    - if @batches.present?
      = render "shared/headers/pagination_title", objects: @batches

      .table-responsive
        %table.table.table-hover.pretty
          %thead
            %tr
              %th #
              %th= t("shared.code")
              %th= t("shared.reference")
              %th= t("shared.description")
              %th= t("shared.imported_by")
              %th= t("shared.imported_at")
          %tbody
            - @batches.each_with_index do |batch, index|
              %tr
                %td= index + 1
                %td= batch.code
                %td
                  = link_to batch.reference_identifier, batch.reference_url, class: "text-primary", target: "_blank" if batch.reference_url.present?

                %td
                  = t("shared.short_description", total_count: batch.total_count, valid_count: batch.valid_count)

                %td= batch.creator_email
                %td= timeago(batch.created_at, 'datetime').html_safe

    = render "shared/footers/pagination"
