!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title My Journeys Application
    = csrf_meta_tags
    = csp_meta_tag
    = favicon_link_tag asset_path('favicon.png')

    %link{:crossorigin => "anonymous", :href => "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css", :rel => "stylesheet"}

    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

  %body{ id: css_class_name }
    #wrapper
      = render 'shared/sidebar'

      #content-wrapper.d-flex.flex-column
        = render 'shared/topbar'

        .container-fluid
          = render "shared/notify_message"
          = yield

    = render 'shared/modal_logout'
