.w-50.view-center
  = simple_form_for @account do |f|
    = f.input :email, label: t('account.email'), input_html: { readonly: @account.persisted? }
    = f.input :role, label: t('account.role'), collection: policy(Account).roles, input_html: { class: 'role' }

    .actions
      = f.submit t('shared.save'), class: 'btn btn-primary'
      = link_to t('shared.cancel'), accounts_path, class: 'btn btn-secondary'
