#content
  %nav.navbar.navbar-expand-lg.navbar-light.bg-light
    .container-fluid
      %h3= t('account.accounts')
      - if policy(Account).create?
        = link_to new_account_path, class: 'btn btn-primary' do
          %i.fas.fa-plus

  = render partial: "shared/no_data", locals: { items: @accounts }

  - if @accounts.present?
    %table.table.table-hover.medium-width
      %thead
        %tr
          %th= t('account.number')
          %th= t('account.email')
          %th= t('account.role')
          %th= t('account.status')
          %th
      %tbody
        - @accounts.each_with_index do |account, index|
          %tr
            %td= index + 1
            %td= account.email
            %td= account.role.titlecase

            %td.status{ class: ('active' if account.confirmed?) }
              = account.confirmed? ? t('account.active') : t('account.pending')
            %td.text-right
              - if policy(account).destroy?
                %button.btn{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :type => "button"}
                  %i.fas.fa-ellipsis-v

                .dropdown-menu.dropdown-menu-right
                  - unless account.confirmed?
                    %input.confirm-link{ value: confirmation_url(account, confirmation_token: account.confirmation_token) }
                    = link_to '#', class: "btn dropdown-item btn-copy" do
                      %i.far.fa-copy.drop-menu-icon
                      %span= t('account.copy_confirm_link')

                  - if policy(account).update?
                    = link_to edit_account_path(account), class: "btn dropdown-item" do
                      %i.fas.fa-pen.drop-menu-icon
                      %span= t('shared.edit')

                  - if policy(account).destroy?
                    = link_to account_path(account), method: :delete, class: "btn dropdown-item", :data => {:confirm => t('account.are_you_sure_to_delete')} do
                      %i.fas.fa-trash-alt.drop-menu-icon
                      %span= t('shared.delete')


.toast-wrapper{"aria-atomic" => "true", "aria-live" => "polite"}
  .toast
    .toast-body= t('account.copied')

