= render "shared/page_title", title: t('account.accounts'), url: new_account_path, label: t('shared.add_new')

/ Nav tabs
%ul.nav.nav-tabs
  %li.nav-item
    %a.nav-link{href: accounts_path, class: ('active' if params[:archived].blank?) }
      %i.fas.fa-users
      %span.d-none.d-lg-inline= t("account.all")

  %li.nav-item
    %a.nav-link{ href: accounts_path(archived: true), class:  ('active' if params[:archived].present?) }
      %i.fas.fa-user-times
      %span.d-none.d-lg-inline= t("account.archived")

.card.shadow.mb-4
  .card-body
    = render partial: "shared/no_data", locals: { items: @accounts }

    - if @accounts.present?
      = render 'shared/pagy_label'

      %table.table.table-hover
        %thead
          %tr
            %th= t('account.number')
            %th= t('account.email')
            %th= t('account.role')
            %th= t('account.status')
            %th= t('account.grafana')
            %th
        %tbody
          - @accounts.each_with_index do |account, index|
            %tr
              %td= @pagy.from + index
              %td= account.email
              %td= account.role.titlecase

              %td.status{ class: account.status }
                = t("account.#{account.status}")

              %td= account.gf_user_id.present? ? "Yes" : nil
              %td
                .d-flex.justify-content-end
                  = render 'action_buttons', account: account

      - if @pagy.pages > 1
        .pagy-wrapper
          != pagy_bootstrap_nav(@pagy)

  .toast-wrapper{"aria-atomic" => "true", "aria-live" => "polite"}
    .toast
      .toast-body= t('account.copied')

= render "shared/modals/confirm_delete_modal"
